html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .container {
  display: grid;
  place-items: center;
  height: 100vh;
} */

.upload-file {
  width: 300px;
  padding: 20px;
}
